@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #lady-wind-logo-container {
    @apply transform-gpu md:scale-150 lg:scale-200;
  }

  #lady-wind-logo {
    transform: translateX(-12px);
  }

  #lady-wind-logo > g {
    opacity: 0;
  }

  #lady-wind-fashion > path {
    opacity: 0;
  }
}
